<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div *ngIf="popupError" class="popup">
	Error: {{ popupError }}
	<button (click)="popupError = null">Dismiss</button>
</div>
<confirm-view [requestEmitter]="confirmEmitter">
</confirm-view>
<div class="header text-white bg-primary" [class.bg-primary]="" style="text-align:center" (click)="console.log(1)">
    <h1>TeXel</h1>
</div>

<div class="content-wrapper row">
	<div class="col-md-6 text-secondary" style="height:100%; min-height:768px; overflow-y:scroll;position:relative">
		<file-display *ngIf="displayFile" style="height:100%;"  [file]="displayFile" [rightClickEmitter]="fileContentsRightClickEmitter"></file-display>
		<h5 *ngIf="!displayFile" style='margin-top:25%' class='text-center'>Click on a document in the right pane to begin.</h5>	
	</div>
	 
	<div class="col-md-2" style="height:100%;overflow:hidden">
        <div style="height:75%">
            <ngb-tabset>
                <ngb-tab title="Labels">
                    <ng-template ngbTabContent>			
                        <div *ngIf="!displayFile" style='width:100%; height:100%' class='text-center'>Click on a document in the right pane to begin.</div>	
                        <label-list-view *ngIf="displayFile" [documentClickEmitter]="documentClickEmitter" [labelList]="labelList" [activeLabels]="displayFile?.labels | async" [confirmEmitter]="confirmEmitter" (Select)="toggleLabel($event, displayFile)" [viewAllEmitter]="viewAllEmitter" (delAllEmitter)="ngOnInit()"></label-list-view>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div style="height:50px">
            <div *ngIf="displayFile && !(displayFileIsLabelled | async) && (displayFile.labels | async)?.length > 0">
                <button class="btn btn-secondary" (click)="nextFile()">Next</button>
            </div>
        </div>
        
        <div *ngIf="displayFile" class="text-left">
            <button class='btn btn-confirm btn-lg' [class.active]="displayFile.complete == 1"  style="display:block" (click)="displayFile.toggleComplete() && nextFile()"><span *ngIf="displayFile.complete != 1">Incomplete</span><span *ngIf="displayFile.complete == 1">Complete</span></button>
            <button class='btn btn-error btn-lg' [class.active]="displayFile.corrupt == 1" style="display:block" (click)="displayFile.toggleCorrupt()"><span *ngIf="displayFile.corrupt != 1">Not Corrupt</span><span *ngIf="displayFile.corrupt == 1">Corrupt</span></button>
            <div class="clearfix"></div>
        </div>
	</div>

	<div class="col-md-4" style="height:75%;overflow:hidden">
		<ngb-tabset>
			<ngb-tab>
				<ng-template ngbTabTitle>
					Pending {{ unlabelledFileList.count | async }}
				</ng-template>
				<ng-template ngbTabContent>
					<file-list-view [fileList]="unlabelledFileList" (Select)="select($event)" [confirmEmitter]="confirmEmitter" [selectedFiles]="selectedFiles" [someProp]="unlabelledFileList.count | async"></file-list-view>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle>
					Complete {{ (labelledFileList.count | async) }}
				</ng-template>
				<ng-template ngbTabContent>
					<file-list-view [fileList]="labelledFileList" (Select)="select($event)" [confirmEmitter]="confirmEmitter" onRemoveAllLabels="fileList.resetLabels()" (labelReset)="unlabelledFileList.merge($event)" [selectedFiles]="selectedFiles"></file-list-view>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
        <button (click)="resetLabels()" class="nav-button">Reset </button>
	</div>

	<div *ngIf='compareFiles'  class="col-md-4" style="height:100%;position:absolute;right:0;background:#465158;padding:25px;">
		<file-comparison-view [label]="compareLabel" [files]="compareFiles | async" [closeEmitter]="closeComparisonViewEmitter"></file-comparison-view>
	</div>
	<div class="clearfix"></div>
</div>

<!-- 	<review-view [labels]="labels" [files]="labelledFiles">
</review-view> -->



