<div *ngIf="showDialog" class="opacity">
	<div  class='popup confirm-delete'>
		{{ requestString }} 
        {{ requestInput }}
        <input #input [class.hidden]="!requestInput">
		<button (click)="ok(input.value)">OK</button>
		<button (click)="cancel(input.value)">Cancel</button>
	</div>
</div>
