<div class="row">
    <h2 class="text-center">{{ label.name }}<button class="btn btn-danger" style="position:absolute; right:0px; top:0px; font-size:10px;" (click)="closeEmitter.emit(true);"><span class="glyphicon glyphicon-remove"></span></button></h2>
</div>

<div class="row">
    <div class="col-md-12" style="height: 150px; overflow-x:auto; overflow-y:hidden; border-bottom:1px solid white">
        <ul>
            <li *ngFor="let file of files" (click)="selectedFile = file" [class.active]="selectedFile == file">
                {{ file.filename }}
            </li>
        </ul>
    </div>
</div>
<div class="row" style="height:50%;">
    <div *ngIf="selectedFile" class="file display" style="height:100%;">
        <file-display style="height:100%;" [file]="selectedFile"></file-display>
    </div>
</div>