<div id="pdf-wrapper" style="height:100%;" (contextmenu)="rightClick($event)">
	
</div>
<div *ngIf="pdfError" style="position:absolute;top:25%;left:25%">
	Sorry, this file does not appear to be a valid PDF.
</div>


