.row {
    
}

div,ul,li {
    color: white;
}

ul {
    height: 125px;
    width:auto;
    overflow-x:scroll;
    white-space:nowrap;
    overflow-y:hidden;
}
li {
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    height: 100px;
    margin: 3px 7px;
    padding: 7px;
    white-space:normal;
    width: 150px;
}

li.active {
    background:#ccc;
    border:1px solid white;  
    color: #465158
}