.page-container {
	height:100%;
	width:100%;
}

.page-container > canvas, .page-container > .textLayer {
	position:absolute;
	width: 100%; 
	height: 100%;
}

.textLayer > div { 
   position: absolute;
}

.textLayer {
	background: red;
}