<button (click)="resetLabels()" class="nav-button">Reset </button>
<ul class="files scrollbar" style="height:100%;overflow-y:auto;overflow-x:hidden;">
	<div *ngFor="let file of fileList.files | async">
		<file-list-element-view [file]="file" [selectedFiles]="selectedFiles" [selectEmitter]="Select"></file-list-element-view> 
	</div>
</ul>

