<li #li (contextmenu)="toggleDropdown($event, label)" (click)="select($event)" class="label btn-group"
    [class.active]="isActive"
    dropdown [isOpen]="openDropdown" style="height:auto">
	{{ label.name }}
	<ul *dropdownMenu class="dropdown-menu" role="menu" style="height:auto">
		<li role="menuitem"><a class="dropdown-item" href="#" (click)="viewAll($event)">View all files</a></li>
		<li role="menuitem"><a class="dropdown-item" href="#" (click)="rename($event)">Rename label</a></li>
		<li role="menuitem"><a class="dropdown-item" href="#" (click)="del($event)">Delete label</a></li>
		<div class="clearfix"></div>
	</ul>
	<div class="clearfix"></div>
</li>