<button (click)="delAll()" class="nav-button">Delete all</button>							
<ul class='labels scrollbar'>
	<li style="clear:right">
		<input #newLabel (keydown)="inputKey($event, newLabel)" style="width:50%;float:left;margin:0 5px 15px 0px">
		<span class="glyphicon glyphicon-plus" (click)="save(newLabel.value); newLabel.value = ''" style="float:left;margin-top:3px"></span>
		<div class="clearfix"></div>
	</li>
	<div *ngFor="let label of labelList.labels">
		<!-- we pass the parent's EventEmitter to the child, so whenever a label is selected, the event will propagate up to the list's Select event -->
		<label-list-element-view [label]="label" [labelList]="labelList" [documentClickEmitter]="documentClickEmitter" [isActive]="activeLabels?.includes(label)" [selectEmitter]="Select" [confirmEmitter]="confirmEmitter" [viewAllEmitter]="viewAllEmitter"></label-list-element-view>
	</div>
</ul>
